{% extends "base.html" %}

{% block content %}
<style>
    /* Custom styles */
    .error-message {
        color: #721c24;
        /* Bootstrap's danger color */
        margin-bottom: 10px;
        font-weight: bold;
    }

    .info-message {
        color: #007bff;
        /* Bootstrap's info color */
        margin-bottom: 10px;
        font-weight: bold;
    }

    .form-label {
        font-weight: bold;
        margin-bottom: 5px;
    }
</style>

<div class="d-flex flex-column align-items-center justify-content-center vh-100">
    {% if form.errors %}
    <p class="error-message">Your username and password didn't match. Please try again.</p>
    {% endif %}

    {% if next %}
    {% if user.is_authenticated %}
    <p class="error-message">Your account doesn't have access to this page. To proceed,
        please login with an account that has access.</p>
    {% else %}
    <p class="info-message">Please login to see this page.</p>
    {% endif %}
    {% endif %}

    <form method="post" action="{% url 'login' %}" class="text-center">
        {% csrf_token %}
        <table class="table">
            <tr>
                <td class="form-label">{{ form.username.label_tag }}</td>
                <td>{{ form.username }}</td>
            </tr>
            <tr>
                <td class="form-label">{{ form.password.label_tag }}</td>
                <td>{{ form.password }}</td>
            </tr>
        </table>

        <div class="mb-3">
            <input type="submit" value="login" style="width: 40%;" class="btn btn-primary btn-lg">
        </div>

        <input type="hidden" name="next" value="{{ next }}">
    </form>
</div>
{% endblock %}